:root {
    --results-columns: 3;
}

.gifs-section {
    /* display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(var(--gridList-column), 1fr));
    grid-auto-rows: var(--gridList-rows);
    grid-template-rows: masonry;
    grid-auto-flow: row dense;
    grid-gap: var(--gridList-gap, 6px);
    gap: var(--gridList-gap, 6px);
    align-items: center; */
    column-count: var(--results-columns);
    column-gap: .5em;
    margin: 3rem;
}

.gifs-section-items {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
    display: inline-block;
  }


@media (min-width: 600px) {
    :root {
      --results-columns: 3;
    }
  }
  
  @media (min-width: 800px) {
    :root {
      --results-columns: 3;
    }
  }