
.app-main {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #121212;
}

.app-icon {
  margin: 10px auto;
  padding: 20px 0;
  width: 144px;
}

.app-icon img {
  object-fit: cover;
  width: 100%;
}

.app-title {
  color: white;
}

.app-content {
  color: white;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 16px;
  text-align: center;
}


.app-results {
  flex-shrink: 2;
}

.app-category {
  margin-bottom: 25px;
  width: 100%;
}

@media screen and (min-width: 640px){
  .app-main{
    flex-direction: start;
  }

  .app-category{
    padding: 0 2em;
    position: sticky;
    top: 0;
    width: 40%;
  }
}

